
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  /* height: 100vh; */
  background-color: #646464 !important;
  display: flex; 
  justify-content: center;
}
.innerBody {
  width: 1600px;
  background-color: #000000;
  /* height: 100vh; */
  height: 100%;
}

.Sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.addActions {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.addActions > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td, tr, h2, h1, span {
  color: white ;
}
.PageSwith {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.PageSwith > span {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #646464;
  display: flex;
  justify-content: center;
  align-items: center;
}