{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="container mt-5">
    <h1>Add a New Book</h1>
    <form method="POST" style="display: flex; flex-direction: column;">
      {% csrf_token %}
      
      <div class="mb-3">
        <label for="Category" class="form-label">Category</label>
        <input type="text" class="form-control" id="Category" name="name" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3">add</button>
    </form>
    <h2>Existed</h2>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.name }}</td>
          <td><a href="/books/edit_category?category_id={{ category.id }}" class="btn btn-primary">
            Edit
          </a>
            
          </a></td>
          <td>
            <form method="POST" action="/books/delete_category">
              {% csrf_token %}
              <input type="submit" value="Delete" class="btn btn-primary">
              <input type="hidden" name="category_id" value="{{ category.id }}">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</body>
</html>